<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cutter</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=BioRhyme:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>

    <div class="header">
        <a th:href="@{/main}">Cutter</a>
    </div>

    <div class="central-block">
        <h1>Hello, Stranger</h1>
        <p><span th:text="${incorrect}"></span></p>
        <form action="#" th:action="@{/cut}" method="post">
            <input type="text" name="link" autocomplete="off" placeholder="Put your link here">
            <button type="submit">Cut this!</button>
        </form>

        <span th:unless="${newLink == null}">
            <span th:text="'Congratulations! It is your new link '"></span>
                <a th:href="@{${newLink}}"><span th:text="${newLink}"></span></a>
        </span>

    </div>
</body>
</html>
